.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-container {
  flex: 1 1 auto;
  display: flex;
}

.App-content {
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}