.navbar {
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  flex-shrink: 0;
  border-style: solid;
  border-color: #E7EBF0;
  border-top-width: 0;
  padding: 15px;
}

.navbar-section-header {
  font-weight: bold;
}

.link-container {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
}

.link-container:hover {
  background-color: #e3f2fd;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.active {
  color: #2196f3;
  font-weight: 700;
}